doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title || "CYRUS"
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet")
  body
    include partials/navbar

    main.main-container
      if errorMessage
        p.alert.alert-error.global-alert= errorMessage
      block content

    script(src="/js/main.js")
    block scripts
