extends layout

block content
  h2 Gallery
  p All artworks currently stored:

  ul
    each art in artworks
      li
        h3= art.title
        p
          | Author: #{art.author} - Pixels: #{art.pixels}
