extends layout

block content
  h2 Sprint 3 - READ Data Demo
  p This page shows artworks coming from the server.

  if artworks && artworks.length
    ul
      each art in artworks
        li
          strong= art.title
          |  by 
          | #{art.author} 
          | #{art.pixels} pixels
  else
    p No artworks yet.
