doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      h1 Cyrus – Collaborative Art Board
      nav
        a(href="/") Home
        |  | 
        a(href="/gallery") Gallery
        |  | 
        a(href="/login") Login
    main
      block content
    footer
      p Sprint 3 Demo – Cyrus
